@use '_variables.scss' as vars ;
@use 'bootstrap/scss/bootstrap' as *;
@use 'login';
@use 'dashboard';
@use 'header';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body {
  padding-top: 70px;
}

// =========================================
// Media Queries
// =========================================

@media screen and (max-width: vars.$medium-screen) {
  h1 {
    font-size: vars.$h2-font-size;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
  }

  h2 { font-size: vars.$h3-font-size; }
  h3 { font-size: vars.$h4-font-size; }
  h4 { font-size: vars.$h5-font-size; }
  h5 { font-size: vars.$h5-font-size; }
  h6 { font-size: vars.$base-font-size; }
  p { font-size: vars.$base-font-size; }
}

@media (min-width: vars.$large-screen) {
  .mb-lg-6 { margin-bottom: 4rem; }
  .mb-lg-7 { margin-bottom: 5rem; }
  .mb-lg-8 { margin-bottom: 6rem; }
}